html,
body {
    height: 100%;
    margin: 0;
}

h2,
p {
    font-size: x-large;
    margin-top: 0;
    /* Para que los h2 no tengan margen superior */
    margin-bottom: 0.5rem;
    /* Espacio razonable debajo */
}

img {
    width: 400px;
    margin-top: 1rem    ;
}

a {
    text-decoration: none;
    color: inherit;
    font-weight: bold;
    font-size: x-large;
}

#root {
    /* o el contenedor principal de tu React */
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

main {
    /* tu contenido principal */
    flex: 1;
}

.contenedorPrincipal {
    background: linear-gradient(to bottom right, #e0f7fa, #fce4ec);
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: flex-start;
    /* Cambio: alineamos los hijos arriba */
    gap: 12rem;
}

.contenedorPrincipal>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinea el contenido interno arriba y a la izquierda */
}

.contacto h2, .paginas h2, .redesSociales h2 {
    position: relative;
    /* por si quieres más control */
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    padding-bottom: 0.25rem;
    /* espacio entre texto y línea */
    border-bottom: 3px solid #000000;
    /* color y grosor de la barra */
    width: fit-content;
    /* que la barra sea sólo del ancho del texto */
}